<div class="m-4">
  <button class="btn btn-secondary m-2" (click)="openModalCreate(createModal)">New event</button>
  <full-calendar #calendar defaultView="dayGridMonth" [plugins]="calendarPlugins"
                 [events]="calendarEvents" (eventClick)="openModalEdit($event, editModal)"></full-calendar>
</div>

<ng-template #editModal>
  <div class="modal-header justify-content-center">Edit Event</div>
  <div class="modal-body">
    <div class="form-group m-0" [formGroup]="form">
      <input type="text" id="nameEdit" class="form-control" placeholder="Event Name" formControlName="title">
      <input bsDatepicker id="dateEdit" formControlName="date" class="form-control mt-3" placeholder="Event Date">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-danger" (click)="delete()">Delete</button>
    <button class="btn btn-warning" (click)="openedModal.hide(); form.reset()">Close</button>
    <button class="btn btn-success" (click)="editEvent()" [disabled]="form.invalid">Save</button>
  </div>
</ng-template>

<ng-template #createModal>
  <div class="modal-header justify-content-center">Create Event</div>
  <div class="modal-body">
    <div class="form-group m-0" [formGroup]="form">
      <input type="text" id="name" class="form-control" placeholder="Event Name" formControlName="title">
      <input bsDatepicker id="date" formControlName="date" class="form-control mt-3" placeholder="Event Date">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" (click)="openedModal.hide();">Close</button>
    <button class="btn btn-success" [disabled]="form.invalid" (click)="createEvent()">Create</button>
  </div>
</ng-template>
