<div class="m-4">
  <button class="btn btn-primary m-2" (click)="openModalCreate(createModal)">New event</button>
  <full-calendar #calendar defaultView="dayGridMonth" [plugins]="calendarPlugins"
                 [events]="calendarEvents" (eventClick)="openModalEdit($event, editModal)"></full-calendar>


</div>
<ng-template #editModal>
  <div class="modal-header">Edit event</div>
  <div class="modal-body">
    <div class="form-group" [formGroup]="form">
      <label for="nameEdit">Name event</label>
      <input type="text" id="nameEdit" class="form-control" placeholder="Name event" formControlName="title">
      <label for="dateEdit" class="mt-2">Date event</label>
      <input bsDatepicker id="dateEdit" formControlName="date" class="form-control" placeholder="Date event">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-danger" (click)="openedModal.hide(); currentEvent.remove();">Delete</button>
    <button class="btn btn-warning" (click)="openedModal.hide(); form.reset()">Close</button>
    <button class="btn btn-success" (click)="editEvent()" [disabled]="form.invalid">Edit</button>
  </div>
</ng-template>

<ng-template #createModal>
  <div class="modal-header">Create event</div>
  <div class="modal-body">
    <div class="form-group" [formGroup]="form">
      <label for="name">Name event</label>
      <input type="text" id="name" class="form-control" placeholder="Name event" formControlName="title">
      <label for="date" class="mt-2">Date event</label>
      <input bsDatepicker id="date" formControlName="date" class="form-control" placeholder="Date event">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" (click)="openedModal.hide();">Close</button>
    <button class="btn btn-success" [disabled]="form.invalid" (click)="createEvent()">Create</button>
  </div>
</ng-template>
